html,body {
	background-color: #ffffff;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 10pt;
	text-align:left;
}

h1, h3 {
	font-size: 14pt;
	margin: 0%;
}

acronym {
	cursor: help;
}

pre {
	margin: 0%;
}

div.table2 {
        float:right;
	width: 400px;
	height: 200px;
	margin-left: 800px;
	margin-right: 100px;
	margin-bottom: 20px;
	position:absolute;
}
div.table1 {
        width: auto;
	height: auto;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-top: auto;

}


div.header {
        background-repeat:no-repeat;
	width: 1020px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/banne.jpg);
	background-size: cover;
        background-color: #FFFFCC;
        margin-bottom: auto;

}

div.nav {
	padding-top:160px;
	padding-left:10px;
	text-align:center;
	font-size:15px;
}

.nav a, .nav a:hover, .nav a:visited {
	color:#000000;
	text-decoration:none;
	margin-right:10px;
	border-top:3px solid #333333;
}

.nav a:hover {
	border-top:4px solid #FF6600;
}

div.footer {
	text-align:center;
	font-size:10;
	width:800px;
	height:23px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	margin-top:auto;
}


.table3 {border: 1px;
           		  color: #ffffff;}