<html>
<head>
<title>GHMC Student Information Form</title>
<link rel="stylesheet" type="text/css" href="../scripts/style.css" />
</head>
<body>
<div class="header">
</div><div class="table1">
      <h1 align="center">Thank You<h1>
      <a href='student.php'><h3 align="center">Click here to go to the form</h3></a>
      </div>
<div class="footer"><p>MVSR Engineering College||Developed by MV Siva Abhishek, MPP</p>
<p> Form to gather information about students of MVSR Engineering College as requested by Greater Municipal Corporation of Hyderabad</p></div>
</body>
</html>